<h3 class = "histroy-h3">予約済みルーム一覧</h3>
<div class = "histroy">
    <table>
        <thead>
            <tr>
            <th>ルーム画像</th>
            <th>ルーム名</th>
            <th>ルーム紹介</th>
            <th>合計料金</th>
            <th>開始日</th>
            <th>終了日</th>
            <th>予約確定日</th>
            </tr>
        </thead>

        <tbody>
            <% @histroy.each do |histroy| %>
                <% room = @room.find { |n| n.id  == histroy.room_id } %>
                <tr>
                    <td><%= link_to("/rooms/show/#{room.id}") do %><img src="<%= "/room_images/#{room .image}" %>"><% end %></td>
                    <td><%= link_to("/rooms/show/#{room.id}") do %><%= room .name %><% end %></td>
                    <td><%= room .appeal %></td>
                    <td>¥ <%= room .money * ((histroy.end_day.to_date - histroy.start_day.to_date).to_i + histroy.count + 1) %></td>
                    <td><%= histroy.start_day.to_s(:datetime_to_date) %></td>
                    <td><%= histroy.end_day.to_s(:datetime_to_date) %></td>
                    <td><%= histroy.created_at.to_s(:datetime_to_s) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
